*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.undln{
    text-decoration: underline red;
}
.card-group{
    justify-content: center !important;;
}

.card{
    border-radius: 20px !important;
    max-width: 300px; 
    text-align: center;
    margin: 10px 10px !important;
    transition: 0.3s;
}

.card:hover{
    transform: scale(95%);
}

.hdcol{
    background: linear-gradient(90deg, white, red);
    border-radius: 20px;
}