*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h5{
    text-decoration: underline red;
}
.card-group{
    justify-content: center !important;;
}

.card{
    border-radius: 9% !important;
    max-width: 300px; 
    text-align: center;
    margin: 10px 10px !important;
}