*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: poppins;
    background-color: black;
}



/*------------------------------------------- First Page CSS Start ------------------------------------*/

/* Navigation Start */
.design{
    box-shadow: 2px 5px 50px 2px red;
}

#logo{
     width: 220px;
}

.navbar-toggler{
    background: linear-gradient(grey 40%, red) !important;
    border: transparent !important;
}


.nav-link{
    color: #e61c1c !important;
    font-size: 25px;
    padding: 10px 30px !important;
    transition: 0.3s !important;
}

.nav-link:hover{
    color: #fff !important;
    font-size: 27px;
}

#navbarNav{
    justify-content: center;
}


.navbar-toggler{
    color: white !important;
    border-color: white !important;
}

/* Navigation End */

/* Main Page CSS */
.frontimg{
    background: linear-gradient(#e61c1c, white, grey);
    border-radius: 5px;
}
.text{
    text-align: justify;
}

/* Main Page CSS End */

/* ------------------------------------- First Page CSS End --------------------------------------*/