*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: poppins;
    background-color: black;
}



/*------------------------------------------- First Page CSS Start ------------------------------------*/

/* Navigation Start */
.updesign{
    box-shadow: 2px 5px 50px 20px red;
}

#logo{
     width: 220px;
}

.navbar-toggler{
    background: linear-gradient(grey 40%, red) !important;
    border: transparent !important;
}


.nav-link{
    color: #e61c1c !important;
    font-size: 25px;
    padding: 10px 30px !important;
    transition: 0.3s !important;
}

.nav-link:hover{
    color: #fff !important;
    font-size: 27px;
}

#navbarNav{
    justify-content: center;
}


.navbar-toggler{
    color: white !important;
    border-color: white !important;
}

/* Navigation End */





/* Main Page CSS */
.frontimg{
    background: linear-gradient(#e61c1c, white, grey);
    border-radius: 5px;
}
.text{
    text-align: justify;
}

.spldsgn{
    font-family: satisfy;
}

.mybtn{
    padding: 10px;
    border-radius: 5px;
    font-size: 22px;
    background-color: red;
    color: black;
    border: transparent;
    margin: 15px 0px;
    transition: 0.3s;
}

.mybtn:hover{
    color: white;
}
/* Main Page CSS End */



/* Footer area CSS Start */

.enddesign{
    box-shadow: 2px 5px 30px 40px red;
}

.head{
    text-align: center;
    color: #e61c1c;
}


i{
    font-size: 30px !important;
    padding: 0px 2%;
    color: grey;
    transition: 0.3s;
}

i:hover{
    color: white;
}

/* ------------------------------------- First Page CSS End --------------------------------------*/
